<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>Agendamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Agendar Horário</h1>
        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        <form method="POST">
            <label>Nome:</label>
            <input type="text" name="nome" required>

            <label>Sobrenome:</label>
            <input type="text" name="sobrenome" required>

            <label>Telefone:</label>
            <input type="tel" name="telefone" required placeholder="(99) 99999-9999">

            <label>Serviço:</label>
            <select name="servico" required>
    <option value="">Selecione</option>

    <option value="Corte">
        Corte - R$ 50,00
    </option>

    <option value="Escova">
        Escova - R$ 70,00
    </option>

    <option value="Penteados">
        Penteados - R$ 150,00
    </option>

    <option value="Hidratação">
        Hidratação - R$ 130,00
    </option>

    <option value="Cronograma Capilar">
        Cronograma Capilar - R$ 550,00
    </option>

    <option value="Progressivas a Partir de">
        Progressivas a Partir de  - R 150,00
    </option>

    <option value="Botox">
        Botox - R$ 100,00
    </option>
</select>

            <label>Data:</label>
            <input type="date" name="data" required>

            <label>Horário:</label>
            <select name="horario" id="horario" required>
                <option value="">Selecione um horário</option>
            </select>

            <label>Observações:</label>
            <textarea name="obs" placeholder="Ex: queixas atuais"></textarea>

            <button type="submit">Confirmar agendamento</button>
        </form>
    </div>
    <script>
const campoData = document.querySelector("input[name='data']");
const selectHorario = document.getElementById("horario");

function carregarHorarios() {
    const data = campoData.value;

    selectHorario.innerHTML = '<option value="">Selecione um horário</option>';

    if (!data) {
        return;
    }

    fetch(`/horarios?data=${data}`)
        .then(response => response.json())
        .then(horarios => {
            selectHorario.innerHTML = '<option value="">Selecione um horário</option>';

            if (horarios.length === 0) {
                selectHorario.innerHTML += '<option value="">Sem horários disponíveis</option>';
                return;
            }

            horarios.forEach(h => {
                selectHorario.innerHTML += `<option value="${h}">${h}</option>`;
            });
        });
}

campoData.addEventListener("change", carregarHorarios);
window.addEventListener("pageshow", carregarHorarios);
</script>
</body>
</html>