<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>Bloquear Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bloquear Data</h1>

        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        <form method="POST">
            <label>Data:</label>
            <input type="date" name="data" required>

            <label>Motivo:</label>
            <input type="text" name="motivo" placeholder="Ex: folga, feriado, viagem">

            <button type="submit">Bloquear</button>
        </form>
    </div>
</body>
</html>