<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>Editar Agendamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Editar Agendamento</h1>

        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        <form method="POST">
            <label>Nome:</label>
            <input type="text" name="nome" value="{{ agendamento[1] }}" required>

            <label>Telefone:</label>
            <input type="text" name="telefone" value="{{ agendamento[2] }}" required>

            <label>Serviço:</label>
            <select name="servico" required>
    <option value="">Selecione</option>

    <option value="Designer de Sobrancelhas Masculino">
        Designer de Sobrancelhas Masculino - R$40,00
    </option>

    <option value="Designer de Sobrancelhas">
        Designer de Sobrancelhas - R$40,00
    </option>

    <option value="Design com Henna">
        Design com Henna - R$50,00
    </option>

    <option value="Maquiagem Completa">
        Maquiagem Completa - R$130,00
    </option>

    <option value="Maquiagem sem cílios postiços">
        Maquiagem sem cílios postiços - R$110,00
    </option>

    <option value="Depilação de Rosto">
        Depilação de Rosto - R$30,00
    </option>

    <option value="Depilação de Buço">
        Depilação de Buço - R$10,00
    </option>

    <option value="Limpeza de Pele">
        Limpeza de Pele - R$80,00
    </option>

    <option value="Pacote Semanal">
        Pacote Semanal - R$140,00
    </option>

    <option value="Pacote Semanal Henna">
        Pacote Semanal Henna - R$180,00
    </option>
</select>

            <label>Data:</label>
            <input type="date" name="data" value="{{ agendamento[4] }}" required>

            <label>Horário:</label>
            <input type="time" name="horario" value="{{ agendamento[5] }}" required>

            <button type="submit">Salvar Alterações</button>
        </form>
    </div>
</body>
</html>