<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Momo+Signature&family=Playwrite+DK+Uloopet+Guides&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>Editar Agendamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Editar Agendamento</h1>

        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        <form method="POST">
            <label>Nome:</label>
            <input type="text" name="nome" value="{{ agendamento[1] }}" required>

            <label>Telefone:</label>
            <input type="text" name="telefone" value="{{ agendamento[2] }}" required>

            <label>Serviço:</label>
            <select name="servico" required>
    <option value="">Selecione</option>

    <option value="">Selecione</option>

    <option value="Corte">
        Corte - R$ 50,00
    </option>

    <option value="Escova">
        Escova - R$ 70,00
    </option>

    <option value="Penteados">
        Penteados - R$ 150,00
    </option>

    <option value="Hidratação">
        Hidratação - R$ 130,00
    </option>

    <option value="Cronograma Capilar">
        Cronograma Capilar - R$ 550,00
    </option>

    <option value="Progressivas a Partir de">
        Progressivas a Partir de  - R 150,00
    </option>

    <option value="Botox">
        Botox - R$ 100,00
    </option>
</select>

            <label>Data:</label>
            <input type="date" name="data" value="{{ agendamento[4] }}" required>

            <label>Horário:</label>
            <input type="time" name="horario" value="{{ agendamento[5] }}" required>

            <button type="submit">Salvar Alterações</button>
        </form>
    </div>
</body>
</html>