<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Momo+Signature&family=Playwrite+DK+Uloopet+Guides&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Estudio de Beleza</title>
</head>
<body>
    <div class="container">
        <h1>Espaço D'ellas</h1>
        <p>Agende seu horário de forma rápida e fácil.</p>
        <a href="/agendamento" class="botao">Agendar Horário</a>
    </div>
</body>
</html>